<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center fonttitle">Introduce un presupuesto</h2>
        <div class="card">
            <div class="card-body">
                <div *ngIf="cantidadIcorrecta" class="text-center mb-3" >
                <span class="badge bg-danger textError">El presupuesto debe ser mayor de 0</span>
                </div>
                <input type="number" [(ngModel)]="cantidad" class="form-control form-control-lg " placeholder="Introduce una cantidad">
                <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
